.flex {
    width: 240px;
    height: 240px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    display: flex;
    background-color: violet;
    gap: 10px;
}

.box {
    width: 45px;
    height: 40px;
    background-color: orange;
    border-radius: 10px;
    border: 1px solid black;
}

.q1 .q2 .q3 {
    display: flex;
}

.flex1 {
    justify-content: flex-start;
}

.flex2 {
    flex-direction: column;
}

.flex3 {
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: start;
}

.flex4 {
    justify-content: space-around;
}

.flex5 {
    justify-content: flex-start;
}

.flex6 {
    justify-content: flex-end;
}

.flex7 {
    justify-content: space-evenly;
    gap: 0px;
}
.flex8{
justify-content:space-between;
}
.flex9{
  justify-content: start;  
}
.flex10{
    align-items: end;
}
.flex11{
    align-items: center;
}
.flex12{
justify-content: space-around;
}

.q1,
.q2,.q3 {
    display: flex;
}